@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">General Store</h1>
    <p>This app is a test for building an app that fully functions with a database!</p>
</div>
